.DS_Store
__pycache__
*.bak
*.zip

# config
config/server.json
config/*.bu
config/*.ign
config/*.iso

# website
website/sendgrid.key

# minecraft
minecraft/server.properties

# minecraft_bedrock
minecraft_bedrock/server.properties

# terraria
terraria/*.txt

# nas
nas/Dockerfile
nas/smb.conf
