.DS_Store
__pycache__

# website
website/gitea
website/letsencrypt
website/sendgrid.key

# monerod
monerod/.bitmonero

# p2pool
p2pool/cache

# minecraft
minecraft/world

# terraria
terraria/worlds
terraria/password.txt

# wireguard
wireguard/*.conf

# backup
data.zip
