.DS_Store
__pycache__
compose.override.yml

# website
website/gitea
website/certbot
website/sendgrid.key

# monerod
monerod/.bitmonero

# p2pool
p2pool/cache

# minecraft
minecraft/world*

# minecraft_bedrock
minecraft_bedrock/worlds*

# terraria
terraria/worlds
terraria/mods
terraria/config.txt
terraria/password.txt

# nas
nas/*.json
nas/smb.conf
nas/users.sh

# backup
data.zip
